* {
  box-sizing: border-box;
}

section {
  margin-top: 30px;
}

section > li {
  list-style: none;
  display: inline;
  overflow: hidden;
}

section > li :first-child {
  margin-left: 100px;
}

p {
  margin-top: 20px;
}

img {
  width: 300px;
  height: 300px;
}

body > img {
  width: 200px;
  height: 70px;
  float: left;
}

h1 {
  float: left;
  font-size: 80px;
  margin: 10%, 10%, 10%, 10%;
}

h3 {
  margin-top: 55px;
  font-size: 50px;
}

header > ul > li{
  display: inline;
  margin-right: 20px;
  font-size: 25px;
}

section#results {
  width: 660px;
  margin: auto;
  
}

